---
import "../styles/global.css";
import Header from "../components/header.astro";
import Head from "../components/head.astro";
---

<html lang="en">
  <Head />
  <body>
    <Header />
    <script>
      import "../scripts/nav.js";
    </script>
  </body>
</html>
