---
const { name = "Hannah Ogunyinka" } = Astro.props;
---

<footer>
  <p>
    &copy<span class="footer-currentyear" id="currentYear">2027</span>
    {name}
  </p>
</footer>

<style>
  /* -------------------------------------Footer----------------------------- */
  /* ------------------------------------------------------------------------ */

  footer p {
    padding: 1rem;
    text-align: center;
    color: var(--secondary-color);
    font-weight: var(--fw-300);
    margin-bottom: 0;
  }

  .footer-currentyear {
    color: var(--accent-color);
  }
</style>

<script>
  import "../scripts/footer";
</script>
