---
import Head from "../../components/head.astro";
import Header from "../../components/header.astro";
import Footer from "../../components/footer.astro";
import { CollectionEntry, getCollection } from "astro:content";
export async function getStaticPaths() {
  const projectPosts = await getCollection("projects", ({ data }) => {
    return !data.isDraft;
  });
  return projectPosts.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

interface Props {
  project: CollectionEntry<"projects">;
}
const { project } = Astro.props;
const { Content } = await project.render();
---

<Head />
<body>
  <Header />
  <Content />
  <Footer />
  <script>
    import "../../scripts/nav.js";
  </script>
</body>
